<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>*북스북스* 회원가입</title>
    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <style></style>
    <script>
      $(document).ready(function () {
        close_box()
      });
      var pass = true
      function register() {
        // 서버에 입력된 회원 정보를 전달하는 함수
          check_pw()
          // 예상되는 버그를 방지하기 위해 암호 일치 여부를 다시 검사함 
          // 검사 결과에 따라 pass 값이 true인 경우 코드를 실행
          if (pass == true) {
            $.ajax({
              type: "POST",
              url: "/api/register",
              data: {
                id_give: $("#userid").val(),
                pw_give: $("#userpw").val(),
                retype_pw_give: $("#user_pw_Confirm").val(),
                nickname_give: $("#usernick").val(),
              },
              success: function (response) {
                // 회원가입 성공시 로그인 화면으로 이동
                if (response["result"] == "success") {
                  alert("회원가입이 완료되었습니다.");
                  window.location.href = "/login";
                } else { // 화원 가입 실패시 서버로부터 반환 받은 메세지를 alert으로 출력
                  alert(response["result"]);
                }
              },
            });
          }
          // 암호 일치 여부를 검사한 결과가 출력되고 있으므로 false인 경우 별도의 코드를 실행하지 않음
        }
      function check_pw_length() {
        // 입력된 비밀번호 길이를 검사하여 조건에 맞지 않는 경우 alert 출력
        var pw = document.getElementById('userpw').value;
        if(pw.length < 6 || pw.length>16){
          alert('비밀번호는 6글자 이상, 16글자 이하만 이용 가능합니다.');
          document.getElementById('userpw').value='';
        }
      }
      function check_pw(){
        // 비밀번호 유효성 검사
        // 비밀번호와 비밀번호 확인의 값을 검사하여 결과 출력
        var pw = document.getElementById('userpw').value;        
        if(document.getElementById('userpw').value !='' && document.getElementById('user_pw_Confirm').value!=''){
          if(document.getElementById('userpw').value==document.getElementById('user_pw_Confirm').value){
            document.getElementById('check').innerHTML='비밀번호가 일치합니다.'
            document.getElementById('check').style.color='blue';
            pass = true
          } else{
            document.getElementById('check').innerHTML='비밀번호가 일치하지 않습니다.';
            document.getElementById('check').style.color='red';
            document.getElementById('userpw').value='';
            document.getElementById('user_pw_Confirm').value='';
            pass = false
          }
        }
      }
      function is_checked() {
        // 회원 가입 의사를 체크하기 위한 체크 박스 확인 함수 
        const checkbox = document.getElementById('my_checkbox');
        const is_checked = checkbox.checked;
        if (is_checked) { 
          open_box()
        } else { // 체크박스가 해제되어 있는 경우 회원 가입 버튼을 숨김
          close_box()
        }

      }

      function open_box() {
            $('#submit').show()
        }
        function close_box() {
            $('#submit').hide()
        }
    </script>
  </head>
  <body>
    <div class="section has-text-centered">
      <h1 class="title">북스북스 회원가입</h1>
      <div class="container" style="width: 60%">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="userid">아이디</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="text" class="input" id="userid" aria-describedby="emailHelp" placeholder="My ID"/>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="usernick">닉네임</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="text" class="input" id="usernick" placeholder="My Nickname"/>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="userpw">비밀번호</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="password" class="input" id="userpw" placeholder="Password" onchange="check_pw(); check_pw_length()"/>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="userpw">비밀번호 재입력</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="password" class="input" id="user_pw_Confirm" placeholder="Confirm Password" onchange="check_pw()"/> <span id="check"> </span>
              </div>
            </div>
          </div>
        </div>
            <input type='checkbox' name='pass' value='Confirm' id = 'my_checkbox' onclick='is_checked()'/>북스북스 서비스 가입에 동의합니다.
          </p>
            <button type="submit" class="button is-primary" id ="submit" onclick="register()">회원가입</button>
      </div>
    </div>
  </body>
</html>
